<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" type="text/css" href="/static/custom.css">
	</head>
	<body>
		<center>
		<form name="input" action="/admin" method="POST">
			Enter the event name, scores made, and the team color: <br>
			Event: <input type="text" name="event"><br>
			Score: <input type="text" name="points"><br>
			Team Color: <input type="text" name="team"><br>
			<input type="submit" value="Submit">
		</form>
		</center>
		<table border="1">
			<tr>
				<td> Event Name </td>
				<td> Points </td>
				<td> Team </td>
			</tr>
			{% for event in events %}
			<tr>
			<form name="event" action="/change" method="POST">
				<td> <input type="text" name="event" placeholder="{{ event['event'] }}"> </td>
				<td> <input type="text" name="points" placeholder="{{ event['points'] }}"> </td>
				<td> <input type="text" name="team" placeholder="{{ event['team'] }}"> </td>
			</form>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>