<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
	<center>
		<h1>BCA FIELD DAY</h1>
		<h2>Blue Team</h2>
		{{blue}}
		<h2>Red Team</h2>
		{{red}}
		<h2>Yellow Team</h2>
		{{yellow}}
		<h2>Green Team</h2>
		{{green}}
		<br>
		<br>
		<table border="1">
			<tr>
				<td> Event Name </td>
				<td> Points </td>
				<td> Team </td>
			</tr>
			{% for event in events %}
			<tr>
				<td> {{ event['event'] }} </td>
				<td> {{ event['points'] }} </td>
				<td> {{ event['team'] }} </td>
			</tr>
			{% endfor %}
		</table>
	</center>
	</body>
</html>