<html>
	<head>
		<title>BCA Field Day</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
	<div id="top">
		<h1>BCA <strong>FIELD DAY</strong></h1>
		<div class="score">
			<strong>Blue Team</strong>
			{{blue}}
		</div>
		
		<div class="score">
			<strong>Red Team</strong>
			{{red}}
		</div>
		<div class="score">
			<strong>Yellow Team</strong>
			{{yellow}}
		</div>
		<div class="score">
			<strong>Green Team</strong>
			{{green}}
		</div>
	</div>
	<div id="bottom">
		<br>
		<br>
		<table border="1">
			<tr>
				<td> Event Name </td>
				<td> Points </td>
				<td> Team </td>
			</tr>
			{% for event in events %}
			<tr>
				<td> {{ event['event'] }} </td>
				<td> {{ event['points'] }} </td>
				<td> {{ event['team'] }} </td>
			</tr>
			{% endfor %}
		</table>
	</div>
	</body>
</html>